@import 'pub';

.red_success {
  width: 153px;
  height: 153px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/red_success', 153px 153px);
}
.bgmemberIn {
  width: 500px;
  height: 320px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/bgmemberIn', 500px 320px);
}
.waitguestt {
  width: 381px;
  height: 395px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/waitguestt', 381px 395px);
}
.hongxingfontt {
  width: 300px;
  height: 75px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/hongxingfontt', 300px 75px);
}
.upupt {
  width: 580px;
  height: 83px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/upupt', 580px 83px);
}
.catecle {
  width: 120px;
  height: 120px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/catecle', 120px 120px);
}
.shopname-icon {
  width: 22px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/shopname-icon', 22px 20px);
}
.close-icon {
  width: 29px;
  height: 29px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/close-icon', 29px 29px);
}
.withdrawsuccess {
  width: 145px;
  height: 145px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/withdrawsuccess', 145px 145px);
}
.weixininto-icon {
  width: 125px;
  height: 125px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/weixininto-icon', 125px 125px);
}
.cardinto-icon {
  width: 125px;
  height: 125px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/cardinto-icon', 125px 125px);
}
.rightss {
  width: 20px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/right', 20px 35px);
}

.add-icon {
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/add-icon', 37px 37px);
}

.tips-icon {
  width: 22px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/tips-icon', 20px 20px);
}
.weixin-icon {
  width: 48px;
  height: 44px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/weixin-icon', 48px 44px);
}
.card-icon {
  width: 46px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/card-icon', 46px 30px);
}
.icon-wrapper {
  display: flex;
  align-items: center;
}

.address-icon {
  width: 25px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/address-icon', 25px 37px);
}

.address-color-icon {
  width: 23px;
  height: 28px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/address_color_icon', 23px 28px);
}

.address-small-color-icon {
  width: 18px;
  height: 22px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/address_small_color', 18px 22px);
}

.house-color-icon {
  width: 27px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/house_color', 27px 25px);
}

.house-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/house', 48px 48px);
}

.house2-color-icon {
  width: 25px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/house2', 25px 25px);
}

.right-icon {
  width: 15px;
  height: 27px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/right_icon', 15px 27px);
}

.left-white-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/left_white_icon', 32px 32px);
}

.left-icon {
  width: 16px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/left_black_icon', 16px 30px);
}

.left-black-icon {
  width: 16px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/left_black_icon', 16px 30px);
}

.collapse-icon {
  width: 27px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/up_icon', 27px 15px);
}

.open-icon {
  width: 27px;
  height: 15px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/down_icon', 27px 15px);
}

.bottom-icon {
  width: 20px;
  height: 11px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/bottom_icon', 20px 11px);
}

.check-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/checked_icon', 32px 32px);
}

.del-icon {
  width: 33px;
  height: 33px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/del_icon', 33px 33px);
}

.edit-icon {
  width: 33px;
  height: 33px;
  display: inline-block;
  @include backimg('./assets/image/edit_icon', 33px 33px);
}

.msg-icon {
  width: $default_nav_icon_size;
  height: $default_nav_icon_size;
  display: inline-block;
  vertical-align: middle;
  @include backimg(
    './assets/image/msg',
    $default_nav_icon_size $default_nav_icon_size
  );
}

.msgs-icon {
  width: $default_nav_icon_size;
  height: $default_nav_icon_size;
  display: inline-block;
  vertical-align: middle;
  @include backimg(
    './assets/image/msgs',
    $default_nav_icon_size $default_nav_icon_size
  );
}

.city-icon {
  width: $default_nav_icon_size;
  height: $default_nav_icon_size;
  display: inline-block;
  vertical-align: middle;
  @include backimg(
    './assets/image/city_icon',
    $default_nav_icon_size $default_nav_icon_size
  );
}

.share-icon {
  width: $default_nav_icon_size;
  height: $default_nav_icon_size;
  display: inline-block;
  vertical-align: middle;
  @include backimg(
    './assets/image/share_icon',
    $default_nav_icon_size $default_nav_icon_size
  );
}

.rubbish-icon {
  width: $default_nav_icon_size;
  height: $default_nav_icon_size;
  display: inline-block;
  vertical-align: middle;
  @include backimg(
    './assets/image/rubbish_icon',
    $default_nav_icon_size $default_nav_icon_size
  );
}

.setting-icon {
  width: $default_navicon_size;
  height: $default_navicon_size;
  display: block;
  vertical-align: middle;
  @include backimg(
    './assets/image/setting',
    $default_navicon_size $default_navicon_size
  );
}

.more-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/more_icon', 32px 32px);
}

.setting-black-icon {
  width: $default_navicon_size;
  height: $default_navicon_size;
  display: block;
  vertical-align: middle;
  @include backimg(
    './assets/image/setting-black-icon',
    $default_navicon_size $default_navicon_size
  );
}

.QuickPay_icon {
  width: $default_navicon_size;
  height: $default_navicon_size;
  display: block;
  vertical-align: middle;
  @include backimg(
    './assets/image/QuickPay_icon',
    $default_navicon_size $default_navicon_size
  );
}

.recivemoney_icon {
  width: $default_navicon_size;
  height: $default_navicon_size;
  display: block;
  vertical-align: middle;
  @include backimg(
    './assets/image/recivemoney_icon',
    $default_navicon_size $default_navicon_size
  );
}

.invite-icon {
  width: $default_navicon_size;
  height: $default_navicon_size;
  display: block;
  vertical-align: middle;
  @include backimg(
    './assets/image/invite_icon',
    $default_navicon_size $default_navicon_size
  );
}

.sort-icon {
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/sort_icon', 37px 37px);
}

.sort-card-icon {
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/sort-card-cion', 37px 37px);
}

.collection-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/collection', 40px 40px);
}

.collection-color-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/collection_color', 40px 40px);
}

.seller-icon {
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/seller', 37px 37px);
}

.shopcar-icon {
  width: 40px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/shopcar', 40px 35px);
}

.consult-icon {
  width: 37px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/consult', 37px 35px);
}

.shopcarWithoutData-icon {
  width: 90px;
  height: 90px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/shopcarWithoutData', 90px 90px);
}

.up-icon {
  width: 20px;
  height: 14px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/arrow_up', 20px 14px);
}

.tousu-icon {
  width: 36px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/tousu', 36px 40px);
}

.tousu-black-icon {
  width: 36px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/tousu_black', 36px 40px);
}

.search-icon {
  width: 31px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/search_icon', 31px 30px);
}

.navigation_icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/navigation_icon', 40px 40px);
}

.phone-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/phone', 36px 36px);
}

.phone2-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/phone2', 36px 36px);
}

.coupon-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/coupon_icon');
}

.coupon-side-icon {
  width: 24px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/coupon_side', 24px 36px);
}

.navigate-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/navigate_icon', 48px 48px);
}

.route-icon {
  width: 48px;
  height: 48px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/route_icon', 48px 48px);
}

.car-insurance-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/car_insurance_icon');
}
.car-insurance-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/car_insurance_icon');
}
.vip-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/vip_icon');
}

.sellerreg-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/sellerreg_icon');
}

.histroy-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/histroy_icon');
}

.job-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/job_icon');
}

.pingjia-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/pinglung_icon');
}

.aiche-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/aiche_icon');
}

.usedcar-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/usedcar_icon');
}

.rentalcar-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/rentalcar_icon');
}

.wallet-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/wallet_icon');
}

.transfer-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/transfer_icon');
}

.cloudmall-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/cloudmall_icon');
}

.shop-info-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/shop_info', 36px 36px);
}
.close-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/close', 30px 30px);
}

.right-1325-icon {
  width: 13px;
  height: 25px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/back1325', 13px 25px);
}

.wx-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/wx_icon', 40px 40px);
}

.zfb-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/zfb_icon', 40px 40px);
}

.axc-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/hongxing_icon', 40px 40px);
}

.relation-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/relation_icon', 32px 32px);
}

.phone-icon {
  width: 21px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/phone_number', 21px 35px);
}

.password-icon {
  width: 21px;
  height: 35px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/login_password_icon', 21px 35px);
}
.peopleDetail-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/peopleInfo', 40px 40px);
}

.rbMark-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/checked_icon', 24px 24px);
}

.appoint-icon {
  width: 36px;
  height: 36px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/appoint_icon', 36px 36px);
}

.location-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/location_icon', 32px 32px);
}

.store-icon {
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/store_icon', 32px 32px);
}

.appointtimecheck-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/appointtimecheck_icon', 80px 80px);
}

.appointtime-icon {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/appointtime_icon', 80px 80px);
}

.info-icon {
  width: 26px;
  height: 26px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/info_icon', 26px 26px);
}

.packageinfo-icon {
  width: 30px;
  height: 30px;

  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/packageinfo_icon', 30px 30px);
}

.account-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/account_icon', 40px 40px);
}

.pwd-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/pwd_icon', 36px 40px);
}

.msgcode-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/msgcode_icon', 40px 40px);
}

.yqm-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/invitecode_icon', 48px 48px);
}

.unpaid-icon {
  width: 68px;
  height: 62px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/aaadaifukuan', 68px 62px);
}

.fahuo-icon {
  width: 68px;
  height: 62px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/aaadaifahuo', 68px 62px);
}

.shouhuo-icon {
  width: 68px;
  height: 62px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/aaadaishouhuo', 68px 62px);
}

.not-evaluated-icon {
  width: 68px;
  height: 62px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/aaapingjia', 68px 62px);
}

.customer-service-icon {
  width: 68px;
  height: 62px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/aaashouhou', 68px 62px);
}

.refundgoods-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/refundgoods_icon', 40px 40px);
}

.refundmoney-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/refundmoney_icon', 40px 40px);
}

.whiteright-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/whiteright_icon', 40px 40px);
}

.callphone-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/callphone_icon', 40px 40px);
}

.male-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/male_icon', 40px 40px);
}

.female-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/female_icon', 40px 40px);
}

.camera-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/camera_icon', 40px 40px);
}

.highpraise-icon {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/highpraise_icon', 160px 160px);
}

.highpraise-checked-icon {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/highpraise_checked_icon', 160px 160px);
}

.middlepraise-icon {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/middlepraise_icon', 160px 160px);
}

.middlepraise-checked-icon {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/middlepraise_checked_icon', 160px 160px);
}

.lowpraise-icon {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/lowpraise_icon', 160px 160px);
}

.lowpraise-checked-icon {
  width: 160px;
  height: 160px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/lowpraise_checked_icon', 160px 160px);
}

.editopen-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/editopen_icon', 40px 40px);
}

.editclose-icon {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/editclose_icon', 40px 40px);
}

.employee-icon {
  width: 37px;
  height: 37px;
  display: inline-block;
  vertical-align: sub;
  @include backimg('./assets/image/employee_icon', 37px 37px);
}

.jifen-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  @include backimg('./assets/image/jifen_icon', 30px 30px);
}
