.swiper-pagination-bullet {
  background: #fff!important;
  opacity: 1!important;
}

.swiper-pagination-bullet-active {
  background: #007aff!important;
  opacity: 1!important;
}

.swiper-container {
  .swiper-slide {
    background-color: #fff!important;
    img {
      width: 100%;
      height: 100%;
      display: block;
      &.error {
        width: auto;
        margin: 0 auto;
      }
    }
  }
}
